<%= form_for @gif do |f| %>
  <h4>Paste GIF url here</h4>
  <%= f.text_field :remote_image_url, placeholder: 'paste image url here' %>
  <%= f.file_field :image %>
  <h4>Title (make it flavorful ◕‿↼)</h4>
  <%= f.text_field :title, placeholder: 'title goes here' %>
  <%= f.submit 'POST' %>
<% end %>